<!DOCTYPE html>
<html>
<head>
  <%- include("partials/header.ejs") %>
  <title> Reviews </title>
</head>
<body> 
  <%- include("partials/navbar.ejs") %>


    Restaurant: <%= name %> <br>
    <br>
       <% for(let i = 0; i < review.length; i += 1) { %>
      <div>
            From: <%= review[i].username %> <br>
            Title: <%= review[i].title %> <br>
            Comment: <%= review[i].comment %> <br>
            
      </div>
                <br>
       <% } %>
  
</body>
</html>